<!--

    Author: Joe Strickland
    EJS Template page for music events page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
            <main>
                <% if(allMusicEvents.length > 0) { %>
                <div id="tableWrapper">
                <!-- If there are any categories, then display its respective table. -->
                    <table id="musicEventsTable">
                        <!-- Go through the categories and fill in the respective headers. Within those rows, fill with event data cells. Filter to their respective category. -->
                            <% allCategories.forEach(e => { %>
                                    <tr id="row1">
                                        <th id="rockHeader" class="rowHeader"><p><%= e %></p></th>
                                        <% let events = allMusicEvents.filter(event=> (event.topic === e)); %>
                                        <% events.forEach(theEvent => { %>
                                            <td class="eventDataCell">
                                                <td id="contentInCell">
                                                    <a href="/events/<%= theEvent.id %>"><img src="<%= theEvent.image %>" alt="CODE THIS IF TIME" width="234" height="146" /></a>
                                                    <a href="/events/<%= theEvent.id %>" class="eventCaption"><%= theEvent.name %></a>
                                                </td>
                                            </td>
                                        <% }); %>
                                    </tr>
                            <% }); %>
                    </table>
                    <% } else { %>
                        <p>There are no events to display!</p>
                    <% } %>
                </div>
            </main>
<%- include("./partials/footer.ejs") %>