<!--

    Author: Joe Strickland
    EJS Template page for the user profile page on the website
    Date: April 16th, 2022

-->
<%- include("./partials/header.ejs") %>
<div id="profileTableWrapper">
    <div id="tableHeaderContainer">
        <h2 id="tableHeader"><%= userInfo.firstName %>'s Music Events!</h2>
    </div>

    <% if(eventInfo.length > 0) { %>
        <table id="profileTable">
            <tr id="tableHeaders">
                <th class="tableHeaderText">Music Event</th>
                <th class="tableHeaderText">Category</th>
                <th class="tableHeaderText">Actions</th>
            </tr>
        
        
            <% eventInfo.forEach(event => { %>
                <tr class="userDataRows">
                    <td class="musicEventCell"><a href="/events/<%= event.id %>"><%= event.name %></a></td>
                    <td class="musicCategoryCell"><%= event.topic %></td>
                    <td class="musicActionCell">
                        <form id="actionForm">
                            <button type="submit" formmethod="GET" formaction="/events/<%= event.id %>/edit" class="removeButtonCSS, profileActionButton">Update</button>
                            <button type="submit" formmethod="POST" formaction="/events/<%= event.id %>?_method=DELETE" class="removeButtonCSS, profileActionButton">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        <% } else { %>
            <p>There are no user created events to display! Create an event!</p>
        <% } %>

    </table>
</div>
<%- include("./partials/footer.ejs") %>