<!--

    Author: Joe Strickland
    EJS Template page for landing page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
            <main>
                <section id="welcomeMessage">
                    <h2 id="welcomeHeader">Welcome to Music & Meet!</h2>
                    <br />
                    <p id="mainText">
                        Music & Meet offers a platform to find music events that are occuring in your area. Connect with others by reserving a spot at a local music venue. 
                        Music & Meet believes that by offering a platform to users, we can connect like minded music lovers to each other over a music medium! Whether if you're looking for a specfic music event, 
                        or just browsing the upcoming music venues, Music & Meet is an excellent platform for you to use!
                        <br>
                        <br>
                        The more text added here, the more the side will fill up.
                    </p>
                </section>
                <aside id="featureEvents">
                    <div id="asideHeaderBox">
                        <h2 id="asideHeader">Featured Events</h2>
                        <ul>
                            <!-- IF statement to check to see if any chosenEvents exist, but there will always be a featured event, as they are designed to be managed by the website, so it's impossible to reach the else statement -->
                            <% if (chosenFeaturedEvents.length > 0) { %>
                                <% chosenFeaturedEvents.forEach(e => { %>
                                    <li><a href="/featuredEvent/<%= e.id %>"><img src="<%= e.image %>" class="FeaturedImage" alt="Featured Event 1" width="270" height="180"><br><%= e.name %></a></li>
                                <% }); %>
                            <% } else { %>
                                <p>You shouldnt have been able to get here without breaking something design wise</p>
                            <% } %>
                        </ul>
                    </div>
                </aside>
            </main>
<%- include("./partials/footer.ejs") %>